/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {color: #222; }

body {font-size: 1em; line-height: 1.4; }
a {color: #00e; }
a:visited {color: #551a8b; }
a:hover {color: #06e; }
/* * Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img {vertical-align: middle; }
/* * Remove default fieldset styles. */
fieldset {border: 0; margin: 0; padding: 0; }
/* * Allow only vertical resizing of textareas. */
textarea {resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Global */
body{ margin: 0 0 90px; }
.btn {
    margin-bottom: 0;
    padding: 6px 12px;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/* Select User */
.select-user select{
	width: 100%;
	height: 3em;
}


/* Weights Form */
#weightsForm{width: 100%;}
#weightTable{width: 100%;font-size: 18px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#weightTable tr.day-A{background: #b1e6f4; }
#weightTable tr.day-B{background: #cbeff8; }
#weightTable.show-a-days tr.day-AB{background: #b1e6f4;}
#weightTable.show-b-days tr.day-AB{background: #cbeff8;}
#weightTable.show-a-days tr.day-B,
#weightTable.show-b-days tr.day-A{display: none;}
#weightTable tr.date{color: #000;text-shadow: none;}
#weightTable tr.date{text-align: center;}
#weightTable tr.date input{width: 110px;}
#weightTable tr .prev-weight-and-reps{padding-left: 0;padding-right: 0;text-align: right;}
#weightTable tr .second-time{box-shadow: 0 0 3px #000000 inset;}
#weightTable tr .weight-dropdown{text-align: right;}
#weightTable tr th,
#weightTable tr td{padding: 5px;background: inherit;}
#weightTable tr th{color: #000;font-size: 0.75em;text-align: left;}
#weightTable tr td select{height: 3em;}
#weightTable tr td select.user-id{width: 100%;}
#weightTable tr td.exercise{}
#weightTable tr td div.lift-name{font-size: 25px;font-weight: bold;overflow: hidden;word-wrap: break-word;color: #065469;}
#weightTable tr td div.lift-name a{text-decoration: inherit;color: inherit;}
#weightTable tr td div.previous-weight{font-size: 26px;color: #000;margin-bottom: -7px;}
#weightTable tr td div.reps{font-size: 14px;color: #000;}
#weightTable tr td.name,
/* Charts */
#chartContainer{top: 0;left: 0;width: 100%;height: 100%;display: none;background: #fff;}
body.show-chart{overflow: hidden;}
body.show-chart #chartContainer{position: fixed;overflow: hidden;display: block;}
/* Time / Set Counter */
#workoutCounter {
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.85);
}
#workoutCounter .clock{
    margin: 0 30px 0 0;
    font-size: 2em;
    float: left;
}
#workoutCounter .btn{
    margin-right: 4px;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 12px;
    outline: none;
}
#workoutCounter .btn.active{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {-webkit-touch-callout: none; }
.pressed {background-color: rgba(0, 0, 0, 0.7); }
/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {-webkit-appearance: none; }
/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {position: absolute; left: -100%; }
/* * Image replacement */
.ir {background-color: transparent; background-repeat: no-repeat; border: 0; direction: ltr; display: block; overflow: hidden; text-align: left; text-indent: -999em; }
.ir br {display: none; }
/* * Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {display: none !important; visibility: hidden; }
/* * Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
/* * Hide visually and from screenreaders, but maintain layout */
.invisible {visibility: hidden; }
/** * Clearfix helper * Used to contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {content: ""; display: table; }
.clearfix:after {clear: both; }
/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix {*zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 320px) {
    /* Style adjustments for viewports that meet the condition */
    #weightTable tr td div.lift-name{max-width: 160px;}
}
@media only screen and (min-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
    #weightsForm{width: 320px;} /* Temporary for desktop development */
}

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
